<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>N3 Access Check</title>

  <style>
  	body {
  		text-align: center;
  		font-family: Verdana, Geneva, sans-serif;
  		padding: 50px;
  		background-color: #2682B4;
  		color: #FFFFFF;
  	}
  	h1 {
  		background: #194C67;
  		background: linear-gradient(#194C67, #0B2432);
  		display: inline-block;
  		padding: 100px;
  	}
  </style>
</head>

<body>
  <h1>N3 Access Check</h1>
  <p>Congratulations, you are able to view web pages on the NHS N3 network.</p>
  <p>Your N3 IP Address is <strong>{{ ip_address }}</strong>.</p>
</body>

</html>